<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img class="logo" src="assets/img/logo-1.png" id="icon" alt="tasteland-logo" />
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <input formControlName="usernameControl" type="text" id="login" class="fadeIn second" placeholder="Login">
      <input formControlName="passwordControl" type="password" id="password" class="fadeIn third" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
    <div id="formFooter">
      <div class="left-footer">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
      <div class="right-footer">
        <a class="underlineHover" routerLink="/register">Register Account</a>
      </div>
    </div>
  </div>
</div>
