.header-main {
    background:#fff;
    padding: 1em 2em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    display: block;
}
.header-right {
    float: right;
    width: 45%;

}
.header-left {
    float: left;
    width: 50%;
}
.logo-name {
    float: left;
    width: 30%;
    margin: 0% 10% 0% 2%;

}
.logo-name h1 {
    font-size: 2.5em;
    color: #FC8213;
    margin: 0em;
    font-weight: 700;
    text-decoration: none;
}
.logo-name  h1 a{
	 color: #910048;
}
.logo-name a {
    display:inline-block;
}
.nav > li > a:hover, .nav > li > a:focus {
    background: none !important;
}
span.logo-clr{
	color:#fdbb30;
}



.profile_details_left {
    float: left;
        width: 60%;
}




/*--Progress bars--*/
/********* profile details **********/
