<!--header start here-->

<div class="header-main">
  <div class="header-left">
    <div class="logo-name">
      <a href="#">
        <h1>TasteLand</h1>
      </a>
    </div>
    <app-search-box></app-search-box>

  </div>
  <div class="header-right">
    <div class="profile_details_left">



      <!-- <app-notification-controls></app-notification-controls> -->

      <!-- <div class="clearfix"> </div> -->
    </div>
    <!-- notification menu end -->
    <div class="profile_details">
      <ul>
        <li class="dropdown profile_details_drop">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <div class="profile_img">
              <span class="prfil-img"><img src="${pageContext.request.contextPath}/resources/static/img/p1.png" alt="">
              </span>
              <div class="user-name">
                <p>Hubert Stasiuk</p>
                <span>Administrator</span>
              </div>
              <i class="fa fa-angle-down lnr"></i>
              <i class="fa fa-angle-up lnr"></i>
              <div class="clearfix"></div>
            </div>
          </a>
          <!-- <ul class="dropdown-menu drp-mnu">
            <li> <a href="/register/showRegistrationForm"><i class="fa fa-cog"></i> Settings</a> </li>
              <li> <a href="/showMyLoginPage"><i class="fa fa-user"></i> Profile</a> </li>
            <li> <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a> </li>
          </ul> -->
        </li>
      </ul>
    </div>

  </div>
  <div class="clearfix"> </div>


