<div class="profile_details">
  <ul>
    <li class="dropdown">
        <span ngbDropdown>
          <button type="button" class="btn" ngbDropdownToggle>
            <span>

              <span class="profil-img"><img class="profil-img" src="/assets/img/profile_pic.PNG" alt="">
              </span>
              <div class="user-name">
                <p>Hubert Stasiuk</p>
                <span>Administrator</span>

                <div ngbDropdownMenu>


                    <div class="notification_desc">

                      <p>Settings</p>

                    </div>
                    <div class="notification_desc">
                        <p>Logout</p>
                    </div>
                    <div class="notification_desc">
                        <p>Edit Profile</p>
                    </div>
                  </div>
              </div>
            </span>
          </button>

        </span>

</li>
</ul>
</div>
