
ul.dropdown-menu {
  padding: 0;
  min-width: 230px;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
  color: orange;
}

.dropdown-menu > li > a {
  padding: 3px 15px;
font-size: 1em;

}
.profile_details {
  margin-top: 0;
  margin-right: 50px;
  float: right;
}

.profile_details_drop .fa.fa-angle-up{
display:none;
}
.profile_details_drop.open .fa.fa-angle-up{
  display:block;
}
.profile_details_drop.open .fa.fa-angle-down{
display:none;
}
.profile_details_drop a.dropdown-toggle {
  display:block

}
.profil-img{
float:left;
border-radius: 50%;
width: 50px;
height: 40px;

}
.user-name{
 float:left;
 /* margin-left:0px; */
 /* height:35px; */

}
.profile_details ul li{
list-style-type:none;
position:relative;
}
.profile_details li a i.fa.lnr {
  position: absolute;
  top: 34%;
  right: -13%;
  margin-top: -21px;
  color: #68AE00;
  font-size: 1.6em;
}
.profile_details ul li ul.dropdown-menu.drp-mnu {
  padding: 1em;
  min-width: 190px;
  top: 122%;
  left:0%;

}
ul.dropdown-menu.drp-mnu li {
  list-style-type: none;
  padding: 3px 0;
}
.user-name p{
font-size:1em;
color:#FC8213;
height:2px;
font-weight:700;
}
.user-name span {
  font-size: .75em;
  font-style: italic;
  color: #424f63;
  font-weight: normal;
  margin-top: .3em;
}
.profile_details ul {
  padding: 0px;
}
p {
  margin-top: 0px;
  margin-bottom: 1rm;
}

.notification_desc{
  float:left;
  width:70%;
  margin-left:5%;
  text-align: left;
  }
  .notification_desc p{
  color:#757575;
  font-size:18px;
  padding:1px 0;
  float: center;
  }
  .wrapper-dropdown-2 .dropdown li a:hover .notification_desc p{
  color:#424242;
  }
  .notification_desc p span{
  color:#979797 !important;
  font-size:11px;
  padding-top: 0px;
  }
