<span ngbDropdown>
  <button type="button" class="btn dropdown-toggle" ngbDropdownToggle>
      <span><mat-icon matBadge="3" matBadgeColor="warn"><i class="fa fa-envelope"></i></mat-icon></span>
    <i class="now-ui-icons loader_gear"></i>
  </button>
  <div ngbDropdownMenu>
      <div class="dropdown-item notification_header">
          <h3>You have 3 new messages</h3>
        </div>
        <span class="user_img"><img src="/assets/img/profile_pic.PNG" alt=""></span>
          <div class="notification_desc">

            <p>Lorem ipsum dolor<span><br>1 hour ago</span></p>

          </div>
          <span class="user_img"><img src="/assets/img/profile_pic.PNG" alt=""></span>
          <div class="notification_desc">

            <p>Lorem ipsum dolor<span><br>1 hour ago</span></p>

          </div>
          <span class="user_img"><img src="/assets/img/profile_pic.PNG" alt=""></span>
          <div class="notification_desc">

            <p>Lorem ipsum dolor<span><br>1 hour ago</span></p>

          </div>
  </div>
</span>

<span ngbDropdown>
  <button type="button" class="btn dropdown-toggle" ngbDropdownToggle>
      <span><mat-icon matBadge="5" matBadgeColor="warn"><i class="fa fa-bell"></i></mat-icon></span>
    <i class="now-ui-icons loader_gear"></i>
  </button>
  <div ngbDropdownMenu>
      <div class="dropdown-item notification_header">
          <h3>You have 3 new messages</h3>
        </div>
        <span class="user_img"><img src="/assets/img/profile_pic.PNG" alt=""></span>
          <div class="notification_desc">

            <p>Lorem ipsum dolor<span><br>1 hour ago</span></p>

          </div>
          <span class="user_img"><img src="/assets/img/profile_pic.PNG" alt=""></span>
          <div class="notification_desc">

            <p>Lorem ipsum dolor<span><br>1 hour ago</span></p>

          </div>
          <span class="user_img"><img src="/assets/img/profile_pic.PNG" alt=""></span>
          <div class="notification_desc">

            <p>Lorem ipsum dolor<span><br>1 hour ago</span></p>

          </div>
  </div>
</span>
<span ngbDropdown>
  <button type="button" class="btn dropdown-toggle" ngbDropdownToggle>
      <span><mat-icon matBadge="3" matBadgeColor="warn"><i class="fa fa-tasks"></i></mat-icon></span>
    <i class="now-ui-icons loader_gear"></i>
  </button>
  <div ngbDropdownMenu>
      <div class="dropdown-item notification_header">
          <h3>You have 3 new messages</h3>
        </div>
        <span class="user_img"><img src="/assets/img/profile_pic.PNG" alt=""></span>
          <div class="notification_desc">

            <p>Lorem ipsum dolor<span><br>1 hour ago</span></p>

          </div>
          <span class="user_img"><img src="/assets/img/profile_pic.PNG" alt=""></span>
          <div class="notification_desc">

            <p>Lorem ipsum dolor<span><br>1 hour ago</span></p>

          </div>
          <span class="user_img"><img src="/assets/img/profile_pic.PNG" alt=""></span>
          <div class="notification_desc">

            <p>Lorem ipsum dolor<span><br>1 hour ago</span></p>

          </div>
  </div>
</span>
