.notification_header{
background-color:#FAFAFA;
border-bottom:2px solid rgba(0, 0, 0, 0.05);
margin-bottom: 3px;
min-width: 130px;
}

.mat-icon {
  margin-top:0.5em;


}
.notification_header h3{
color:#6A6A6A;
font-size:12px;
font-weight:600;
/* margin:0; */

}
.user_img img {
  padding-top: 3px;
  padding-left: 10px;

}

.user_img{
float:left;
width:19%;
}
.user_img img{
max-width:100%;
display:block;
border-radius:2em;
-webkit-border-radius:2em;
-moz-border-radius:2em;
-o-border-radius:2em;
}

.notification_desc{
float:left;
width:70%;
margin-left:5%;

}
.notification_desc p{
color:#757575;
font-size:13px;
padding:1px 0;
}
.wrapper-dropdown-2 .dropdown li a:hover .notification_desc p{
color:#424242;
}
.notification_desc p span{
color:#979797 !important;
font-size:11px;
padding-top: 0px;
}
